/* *** *** *** GENERAL *** *** *** */
:root {
    --primary-color: #fafafa;
    --secondary-color: #7a78ff;
    --accent-color: #ff6d38;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;

    --btn-primary-bg: #333;
    --btn-secondary-bg: #8584ff;
    --btn-accent-bg: #ffc412;
    --btn-primary-hover-bg: #e74c3c;
    --btn-secondary-hover-bg: #333;

    --font-family-heading: 'Amatic SC', sans-serif;
    --font-family-text: "Roboto", sans-serif;
    --border-radius: 8px;

    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

    --section-margin: 2rem 0;
    --container-width: 90%;
}
body {
    margin: 0;
    font-family: var(--font-family-text);
    background-color: var(--light-color);
    line-height: 1.6rem;
}
h1 {
    color: var(--heading-color);
}
h2 {
    font-family: var(--font-family-heading);
    font-size: 3.2rem;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}
h3 {
    font-family: var(--font-family-heading);
    font-size: 2rem;
}
.secondary-color {
    color: var(--secondary-color);
}
.light-color {
    color: var(--light-color);
}
.btn-secondary {
    background-color: var(--btn-secondary-bg);
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: var(--btn-secondary-hover-bg);
}
.btn-primary {
    background-color: var(--btn-primary-bg);
    cursor: pointer;
}
.btn-primary:hover {
    background-color: var(--btn-primary-hover-bg);
}
.btn-accent {
    background-color: var(--btn-accent-bg);
    cursor: pointer;
}
.btn-accent:hover {
    background-color: var(--btn-primary-hover-bg);
}
button {
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 0.8rem 1.3rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin: 10px 10px;
}
.hover-underlined:hover {
    text-decoration: underline;
}
.section-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.section-presentation p {
    width: 50%;
    text-align: center;
}
a {
    text-decoration: none;
}

/* *** *** *** HEADER SECTION *** *** *** */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-lg);
}
nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    color: var(--heading-color);
}
nav a:hover {
    color: var(--secondary-color);
}
nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: bold;
}
nav img {
    height: 1rem;
    margin-right: 0.3rem;
}
nav p {
    display: flex;
    align-items: center;
}

/* *** *** *** SEARCH SECTION *** *** *** */
#search {
    position: relative;
    height: 27rem;
}
#search-image {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./images/fiqih-pradana-qm-SgY--sVg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
    filter: brightness(60%);
    height: 27rem;
}
#search-presentation {
    position: absolute;
    top: 0;
    color: var(--primary-color);
    height: 27rem;
}
#searchbar {
    margin: 0 auto;
    width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
    background-color: white;
    padding: 20px;
    position: relative;
}
#search-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.div-go-up {
    top: -40px;
}
#search-zone label {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
}
#search-zone label p {
    font-weight: bold;
    margin: 0 0 10px 0;
    color: var(--dark-color);
}
#search-zone label select {
    height: 2.4rem;
    font-weight: bold;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
}
#search-zone label select:hover {
    border: solid 1px black;
}
#search-zone label input {
    height: 2.2rem;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
}
#search-zone label input:hover {
    border: solid 1px black;
}
#search-zone button {
    width: 100%;
}
#searchbar-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#reset-filters {
    color: var(--btn-accent-bg);
    text-decoration: underline;
    cursor: pointer;
}
#reset-filters:hover {
    color: var(--accent-color);
}

/* *** *** *** PROFILES SECTION *** *** *** */
#profiles-to-meet {
    margin: var(--section-margin);
}
#profiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 16rem);
    width: 100%;
    grid-gap: 10px;
    padding: 40px;
    box-sizing: border-box;
}
#profiles img {
    object-fit: cover;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}
.img1, .img3, .img6, .img8 {
    grid-row: span 2;
}
.img5 {
    grid-column-start: 1;
    grid-row-start: 3;
}
.img7 {
    grid-row-start: 3;
    grid-column-start: 3;
}
#btn-more-profiles-div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* *** *** *** HOW IT WORKS SECTION *** *** *** */
#how-it-works {
    background-color: white;
    margin: var(--section-margin);
}
#how-it-works-presentation {
    padding: 40px 0;
}
#how-it-works-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#how-it-works-steps article {
    box-shadow: var(--shadow-xl);
    padding: 0 40px;
    margin: 10px 10px 70px 10px;
    width: 15%;
}
.article-emoji {
    text-align: center;
    font-size: 2.4rem;
}
.article-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.article-text {
    text-align: center;
}

/* *** *** *** READY TO MAKE THE DIFF SECTION *** *** *** */
#ready-to-make-the-diff {
    margin: var(--section-margin);
}
#multiple-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* *** *** *** FOOTER *** *** *** */
footer {
    background-color: var(--dark-color);
    margin: var(--section-margin);
}
#head-of-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
footer section {
    width: 100%;
    padding: 0 20px;
}
.footer-paragraphs {
    color: var(--light-color);
}
#logos-social-networks {
    display: flex;
    flex-direction: row;
}
.logo-lucide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474747;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}
.lucide {
}
.footer-paragraphs>a {
    color: #999999;
}
hr {
    border-color: #999999;
}
#foot-of-footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #999999;
    text-align: center;
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
/* *** *** *** *** *** *** PAGE SEARCH *** *** *** *** *** *** */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** SEARCH SECTION *** *** *** */
#search-section {
    padding: 30px;
}

/* *** *** *** SEARCH RESULTS *** *** *** */
#search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 40px;
    /* box-sizing: border-box; */
}
.profile-article {
    /* object-fit: cover; */
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    /* width: 20%; */
    /* height: 100%; */
    overflow: hidden;
    box-shadow: var(--shadow-md);
}
.profile-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}
.profile-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.profile-details-div {
    padding: 20px;
    color: var(--dark-color);
}
.profile-moment {
    margin: 0;
    font-weight: bold;
}
.profile-name {
    margin: 5px 0;
    font-weight: bold;
    color: var(--accent-color);
}
.profile-job-age {
    margin: 0;
}
.profile-city {
    margin: 0;
}
.profile-description {
    margin: 5px 0;
    font-weight: bold;
}
.profile-article button {
    margin: auto 25px 20px 25px;
    width: fit-content;
    /* margin-top: auto; */
}
