/* *** *** *** GENERAL *** *** *** */
:root {
    --primary-color: #fafafa;
    --secondary-color: #7a78ff;
    --accent-color: #ff6d38;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;

    --btn-primary-bg: #333;
    --btn-secondary-bg: #8584ff;
    --btn-accent-bg: #ffc412;
    --btn-primary-hover-bg: #e74c3c;
    --btn-secondary-hover-bg: #333;

    --font-family-heading: 'Amatic SC', sans-serif;
    --font-family-text: "Roboto", sans-serif;
    --border-radius: 8px;

    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

    --section-margin: 2rem 0;
    --container-width: 90%;
}

body {
    margin: 0;
    font-family: var(--font-family-text);
    background-color: var(--light-color);
    line-height: 1.6rem;
}

h1 {
    color: var(--heading-color);
}

h2 {
    font-family: var(--font-family-heading);
    font-size: 3.2rem;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;

    @media screen and (max-width: 600px) {
        font-size: 3rem;

        @media screen and (max-width: 425px) {
            font-size: 2.5rem;
        }
    }
}

h3 {
    font-family: var(--font-family-heading);
    font-size: 2rem;
}

.secondary-color {
    color: var(--secondary-color);
}

.light-color {
    color: var(--light-color);
}

.btn-secondary {
    background-color: var(--btn-secondary-bg);
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--btn-secondary-hover-bg);
}

.btn-primary {
    background-color: var(--btn-primary-bg);
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover-bg);
}

.btn-accent {
    background-color: var(--btn-accent-bg);
    cursor: pointer;
}

.btn-accent:hover {
    background-color: var(--btn-primary-hover-bg);
}

button {
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 0.8rem 1.3rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin: 10px 10px;
}

.hover-underlined:hover {
    text-decoration: underline;
}

.section-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-presentation p {
    width: 50%;
    text-align: center;

    @media screen and (max-width: 660px) {
        width: 75%;
    }
}

a {
    text-decoration: none;
}

/* *** *** *** HEADER SECTION *** *** *** */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-lg);

    @media screen and (max-width: 400px) {
        justify-content: flex-start;
        padding-left: 20px;
        gap: 1rem;
    }
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    color: var(--heading-color);
}

nav a:hover {
    color: var(--secondary-color);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: bold;

    @media screen and (max-width: 929px) {
        display: none;
    }
}

nav img {
    height: 1rem;
    margin-right: 0.3rem;
}

nav p {
    display: flex;
    align-items: center;
}

#donate-navbar {
    @media screen and (max-width: 400px) {
        display: none;
    }
}

/* SIDE NAV */
#my-side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--light-color);
    padding-top: 60px;
    transition: left 0.5s ease;
    box-shadow: var(--shadow-xl);
}

#my-side-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 8px 8px 8px 32px;
    transition: 0.3s;
    color: var(--secondary-color);
    margin-top: 15px;
}

#my-side-nav a:hover {
    font-weight: bold;
    color: var(--heading-color);
}

#my-side-nav p {
    margin: 0;
}

#my-side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#my-side-nav.active {
    left: 0;
}

#close-side-nav-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    font-weight: bold;
}

#close-side-nav-btn:hover {
    color: var(--heading-color);
}

.buger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--heading-color);
    margin: 6px 0;
}

#open-side-nav-btn {
    display: none;

    @media screen and (max-width: 929px) {
        display: flex;
    }
}


/* *** *** *** SEARCH SECTION *** *** *** */
#search,
#volunteer-section {
    position: relative;
    height: 27rem;
}

#search-image {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./images/fiqih-pradana-qm-SgY--sVg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
    filter: brightness(60%);
    height: 27rem;
    width: 100%;
}

#search-presentation,
#volunteer-presentation {
    position: absolute;
    top: 0;
    color: var(--primary-color);
    height: 27rem;
}

#searchbar {
    margin: 0 auto;
    width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
    background-color: white;
    padding: 20px;
    position: relative;

    @media screen and (max-width: 980px) {
        width: 80%;
    }
}

#search-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 735px) {
        flex-direction: column;
        align-items: center;
    }
}

.div-go-up {
    top: -40px;
}

#search-zone label {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
}

#search-zone label p {
    font-weight: bold;
    margin: 0 0 10px 0;
    color: var(--dark-color);
}

#search-zone label select {
    height: 2.4rem;
    font-weight: bold;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
}

#search-zone label select:hover {
    border: solid 1px black;
}

#search-zone label input {
    height: 2.2rem;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
}

#search-zone label input:hover {
    border: solid 1px black;
}

#search-zone button {
    width: 100%;
}

#searchbar-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reset-filters {
    color: var(--btn-accent-bg);
    text-decoration: underline;
    cursor: pointer;
}

#reset-filters:hover {
    color: var(--accent-color);
}

/* *** *** *** PROFILES SECTION *** *** *** */
#profiles-to-meet {
    margin: var(--section-margin);
}

#profiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 16rem);
    width: 100%;
    grid-gap: 10px;
    padding: 40px;
    box-sizing: border-box;

    @media screen and (max-width: 770px) {
        grid-template-rows: repeat(3, 8rem);

        @media screen and (max-width: 560px) {
            grid-template-rows: repeat(3, 4rem);
        }
    }
}

#profiles img {
    object-fit: cover;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

#profiles img:hover {
    width: 102%;
    height: 101%;
    align-items: center;
    justify-content: center;
}

.img1,
.img3,
.img6,
.img8 {
    grid-row: span 2;
}

.img5 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.img7 {
    grid-row-start: 3;
    grid-column-start: 3;
}

#btn-more-profiles-div {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* *** *** *** HOW IT WORKS SECTION *** *** *** */
#how-it-works,
#how-to-become-volunteer {
    background-color: white;
    margin: var(--section-margin);
}

#how-it-works-presentation,
#how-to-become-volunteer-presentation {
    padding: 40px 0;
    box-sizing: border-box;
}

#how-it-works-steps,
#how-to-become-volunteer-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media screen and (max-width: 880px) {
        flex-direction: column;
        align-items: center;
    }
}

#how-it-works-steps article,
#how-to-become-volunteer-steps article {
    box-shadow: var(--shadow-xl);
    padding: 0 40px;
    margin: 10px 10px 70px 10px;
    width: 15%;
    box-sizing: border-box;

    @media screen and (max-width: 880px) {
        width: 80%;
        margin: 10px;
    }

    ;
}

.article-emoji {
    text-align: center;
    font-size: 2.4rem;
}

.article-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.article-text {
    text-align: center;
}

/* *** *** *** READY TO MAKE THE DIFF SECTION *** *** *** */
#ready-to-make-the-diff {
    margin: var(--section-margin);
}

#multiple-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 580px) {
        flex-direction: column;
        align-items: center;
    }
}

/* *** *** *** FOOTER *** *** *** */
footer {
    background-color: var(--dark-color);
    margin: var(--section-margin);
}

#head-of-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    @media screen and (max-width: 660px) {
        flex-direction: column;
    }
}

.little-screen {
    display: none;

    @media screen and (max-width: 660px) {
        display: flex;

        @media screen and (max-width: 580px) {
            display: none;
        }
    }
}

footer section {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-paragraphs {
    color: var(--light-color);
}

#informations-links {
    @media screen and (max-width: 660px) {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        @media screen and (max-width: 580px) {
            flex-direction: column;
            gap: 0;
        }
    }
}

#informations-links p {
    @media screen and (max-width: 580px) {
        margin: 0;
    }
}

#logos-social-networks {
    display: flex;
    flex-direction: row;
}

.logo-lucide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474747;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.logo-lucide:hover {
    background-color: var(--btn-primary-hover-bg);
}

.footer-paragraphs>a {
    color: #999999;
}

hr {
    border-color: #999999;
}

#foot-of-footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #999999;
    text-align: center;
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
/* *** *** *** *** *** *** PAGE SEARCH *** *** *** *** *** *** */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** SEARCH SECTION *** *** *** */
#search-section {
    padding: 30px;
}

/* *** *** *** SEARCH RESULTS *** *** *** */
#search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 40px;

    @media screen and (max-width: 850px) {
        grid-template-columns: repeat(3, 1fr);

        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);

            @media screen and (max-width: 450px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

.profile-article {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-md);
}

.profile-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

.profile-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.profile-details-div {
    padding: 20px;
    color: var(--dark-color);
}

.profile-moment {
    margin: 0;
    font-weight: bold;
}

.profile-name {
    margin: 5px 0;
    font-weight: bold;
    color: var(--accent-color);
}

.profile-job-age {
    margin: 0;
}

.profile-city {
    margin: 0;
}

.profile-description {
    margin: 5px 0;
    font-weight: bold;
}

.profile-article button {
    margin: auto 25px 20px 25px;
    width: fit-content;
    /* margin-top: auto; */
}

.no-result {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
/* *** *** *** *** *** *** PAGE VOLUNTEER *** *** *** *** *** *** */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** VOLUNTEER SECTION *** *** *** */
#volunteer-image {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
    filter: brightness(60%);
    height: 27rem;
}

.red-star {
    color: red;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 0;
    }
}

#form-div {
    margin: 0 auto;
    width: 60%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
    background-color: white;
    padding: 60px 30px 20px 30px;
    position: relative;
}

#form-zone {
    display: flex;
    flex-direction: column;
}

#form-zone label {
    width: 100%;
}

#form-zone p {
    margin-bottom: 5px;
    font-weight: bold;
    box-sizing: border-box;
}

#form-zone select {
    width: 100%;
    height: 2.4rem;
    font-weight: bold;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
    box-sizing: border-box;
}

#form-zone select:hover {
    border: solid 1px black;
}

#form-zone input {
    width: 100%;
    height: 2.2rem;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
    box-sizing: border-box;
}

#form-zone input:hover {
    border: solid 1px black;
}

.div-to-center-button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* Je n'arrive pas à modifier la hauteur de cet input ci-dessous : */
#volunteer-motivation {
    height: 10rem;
    width: 100%;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    border: solid 1px lightgrey;
    color: var(--dark-color);
    box-sizing: border-box;
    font-family: var(--font-family-text);
}

/* *** *** *** TESTIMONY SECTION *** *** *** */
#volunteer-testimony {
    background-color: var(--light-color);
}

.testimony-article {
    box-shadow: var(--shadow-md);
    padding: 20px;
    margin: 20px;
}

.head-of-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.testimony-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.bold {
    font-weight: bold;
}

.testimony-article-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* *** *** *** ANY QUESTION SECTION *** *** *** */
#any-questions {
    margin-top: 100px;
}